<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <!-- carasoul - 1-->
      <div class="carousel-item active">
        <div class="carousel-caption font-change1">
          <h2 style="margin-bottom: -3%;"><b>Online</b></h2>
          <h1 style="margin-bottom: -2%; margin-top: 1% "><b>Grocery</b></h1>
          <h2  style="margin-bottom: -1%; margin-top: 2%"><b>Store</b></h2>
          <p style="margin-bottom: -2%; margin-top: 2%;" ><i><b>More Than A Supermarket, A Superfunmarket</b></i></p>
          <button class="btn btn-success" style="margin-top: 10%;">Shop now</button>
        </div>
        <img src="../../assets/Images/carasol-1.jpg" class="carousel-image" alt="...">
      </div>

      <!-- carasoul 2 -->
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block" style="padding: 2px;">
          
          <h1 style="margin-bottom: -2.5%; "><b>Healthy</b></h1>
          <h1 style="margin-bottom: -2%; margin-top: 2% "><b>food</b></h1>
          <h2 style="margin-bottom: -1%; margin-top: 2% "><b>Delivery</b></h2>
          <p style="margin-bottom: -2%; margin-top: 3%; "><b><i>Cart Full, Wallet Happy</i></b></p>
          <button class="btn btn-success" style="margin-top: 10%;">Shop now</button>
        </div>
        <img src="../../assets/Images/carasol-5.jpg" class="carousel-image" alt="...">
      </div>

      <!-- carsoul 3 -->
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block" style="padding: 2px;">
          <h1 style="margin-bottom: -2.5%; "><b>Don't Strave</b></h1>
          <h1 style="margin-bottom: -2%; margin-top: 2% "><b>Just Order</b></h1>
          <p  style="margin-bottom: -2%; margin-top: 2%; "><b><i>For Groceries That Make You Go Yum!</i></b> </p>
          <button class="btn btn-success" style="margin-top: 10%;">Shop now</button>
        </div>
        <img src="../../assets/Images/carasol-6.jpg" class="carousel-image" alt="...">
      </div>

      <!-- carasoul 4 -->
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block" style="padding: 2px;">
          <h1 style="margin-bottom: -2.5%; "><b>Door To</b></h1>
          <h1 style="margin-bottom: -2%; margin-top: 2% "><b>Door</b></h1>
          <p style="margin-bottom: -2%; margin-top: 2%; "><b><i> From Our Store to Your Door!!</i></b></p>
          <button class="btn btn-success" style="margin-top: 10%;">Shop now</button>
        </div>
        <img src="../../assets/Images/carasol-4.jpg" class="carousel-image" alt="...">
      </div>
    </div>
  </div>
</div>