<!-- About Us Page Section  -->
<div class="container">
  <div class="row">
    <!-- left column with image  -->
    <div class="col-md-6">
      <img src="../../assets/Images/about-us.jpg" style="width: 400px; height: 420px; margin-top: 1%; margin-left: 20%;">
    </div>
    <!-- right column with content  -->
    <div class="col-md-6">
      <div class="text-center mt-5">
        <h1>About Us</h1>
      </div>
      <div class="mt-5 mx-4 content-body text-center">
        <p><i>
          We are a grocery store dedicated to providing our customers with the
          freshest and highest quality food at affordable prices. We source our
          products from local farms and businesses whenever possible, and we offer
          a wide variety of groceries, including fresh produce, meat, seafood,
          dairy, bread, and baked goods. We are committed to providing our
          customers with the best possible shopping experience, and we offer
          online ordering and delivery, as well as a variety of services and
          discounts. We are also committed to being a good neighbor and protecting
          the environment.
          </i>
        </p>

      </div>
    </div>
  </div>
</div>