<div class="container-fluid product-detail-container" [ngClass]="{'discontinued':product.discontinued}">
    <div class="container ">
        <div class="box"  >
            <div class="product__img">
                <img src="{{product.productImage}}" class="product_img" alt="">
            </div>

            <div class="product__disc">
                <div class="product__disc--content">
                    <div class="disc__content--about">
                        <h1>{{product.productName}}</h1>

                        <!-- Price  -->
                        <span>RS. {{product.unitPrice}} </span>

                        <!-- Description  -->
                        <p class="productInformation">{{product.description}}</p>
                    </div>

                    
                </div>
            </div>

            <div class="product_buttons  ">
                <button class="btn wishlist" (click)="addToCart()" *ngIf="!product.discontinued">Add To Cart </button>
                
                <button class="btn buy" *ngIf="roles=='admin'" (click)="navigateToEditDetails(product.productId)">Edit Details</button>

            </div>
        </div>

    </div>
</div>